.content {
  width: 100%;
  height: 100vh;
  /* text-align: center; */
}

.editor-input{
  /* background-color: aquamarine; */
  display: block;
  height: 100%;
  padding: 10px;
  bord
  /* min-height: 100%; */
}